body{
    background-image: url(xedi.jpg);
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    background-size: cover;
    color: rgb(249, 192, 5);
    justify-content: space-around;
}

.me{
    background-image: url(mee.jpg);
    display: flex;
    background-size: cover;
    height: 300px;
    width: 300px;
    border: 5px solid rgb(210, 188, 25) ;
    border-radius: 15px;
    justify-content: center;
}
.ani{
    background-image: url(ani.jpg);
    display: flex;
    align-items: flex-start;
    height: 300px;
    width: 300px;
    background-size: cover;
    border: 5px solid rgb(210, 188, 25) ;
    border-radius: 15px;
    justify-content: center;
}
.lika{
    background-image: url(lika.jpg);
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    background-size: cover;
    gap: 20px;
    align-items: flex-start;
    border: 5px solid rgb(210, 188, 25) ;
    border-radius: 15px;
    justify-content: center;
}
.luka{
    border: 5px solid rgb(210, 188, 25) ;
    border-radius: 15px;
    background-image: url(luka.jpg);
    display: flex;
    height: 300px;
    width: 300px;background-size: cover;
    justify-content: center;
}

.jambulak{
    border: 5px solid rgb(210, 188, 25) ;
    border-radius: 15px;
    background-image: url(babuuuuu.jpg);
    display: flex;
    height: 300px;
    width: 300px;background-size: cover;
    justify-content: center;
}

.ako{
    border: 5px solid rgb(210, 188, 25) ;
    border-radius: 15px;
    background-image: url(maladoi.jpg);
    display: flex;
    height: 300px;
    width: 300px;
    background-size: cover;
    justify-content: center;
}

.ana{
    border: 5px solid rgb(210, 188, 25) ;
    border-radius: 15px;
    background-image: url(deda.jpg);
    display: flex;
    height: 300px;
    width: 300px;background-size: cover;
    justify-content: center;
}
.babu{
    border: 5px solid rgb(210, 188, 25) ;
    border-radius: 15px;
    background-image: url(jambulakk.jpg);
    display: flex;
    height: 300px;
    width: 300px;background-size: cover;
    justify-content: center;
}

.lusi{
    border: 5px solid rgb(210, 188, 25) ;
    border-radius: 15px;
    background-image: url(lusi.jpg);
    display: flex;
    height: 300px;
    width: 300px;background-size: cover;
    justify-content: center;
}