/* #h{
    inline-size: 2000;
    background-color: rgb(101, 192, 192);
    color: rgb(79, 31, 123);
    border-top: 20;
    text-align: center;
}

ol{
    margin: 200,;
    color: rgb(35, 133, 133);
    background-color: rgb(61, 38, 38);
    text-decoration: dashed;
}
#p{
    color: rgb(40, 74, 168);
    background-color: rgb(32, 41, 73);
    text-align: justify;
    text-decoration: underline;
    text-align: center;
}
lable{
    background-color: rgb(206, 174, 237);
    text-decoration: underline;
    
}
#in{
    background-color: rgb(131, 131, 216);
    color: blue;
} */

/* 

ul{
    list-style-type: square;
} */