body{
    font-size: 40px;
    height: 100vh;
}
*{
    box-sizing: border-box;
}
.conteiner{
    display: flex;
    justify-content: space-around;
    border-radius: 5px color black;
}


.child{
    border: 5px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px color black;

}