
.conteiner{
    display: grid;

    grid-gap: 10px;
}

.item{
    border: 5px solid red;
    background-color: aqua;
}
.item-1{
    grid-column:span 5;
    text-align: center;
    grid-row: span 3;
}



.item-2{
    grid-row: span 15;
    text-align: center;
}

.item-3{
    grid-column:  span 4;
    grid-row: span 10;
    text-align: center;
}

.item-4{
    grid-column:span  ;
    grid-row:span 5 ;
    text-align: center;

}

.item-5{
    grid-column: span 3;
    text-align: center;
    grid-row: span 5;
}
.item-6{
    grid-column:  span 5;
    grid-row: span 5;
    text-align: center;
}