.info{
    border: solid red 2px;
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 60px;
}

.p{
    font-size: 14px;
    margin-top: 35px;
    margin-right: 70px;
}


.button{
    margin-top: 30px;
    width: 120px;
}

.t{
    text-align: center;
}

