.he{
    background-image: url(buu.jpg);
}



.top{
    display: flex;
    border-radius: 15px;
    height: 40px;
    background-image: url(bb.jpg);
    background-size: cover;
    color: rgb(16, 92, 223);
    
}
.n{
    display: flex;
    justify-content: end;
}



.a{
    display: flex;
    margin-left: auto;
    
}
.l{
    display: flex;
    margin-left: auto;
}

.s{
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    justify-content: center;
    background-image: url(bb.jpg);
    background-size: cover;
    border-radius: 30px;
    width: 300px;
    height:450px;
}

.pp{
    color: rgb(11, 81, 161);
    text-align: center;
    font-size: 25px;
}
.pb{
    color: rgb(11, 81, 161);
    text-align: center;
    font-size: 15px;
}
.i{
    display: flex;
    justify-items: center;
    font-size: 20px;
    background-color: rgb(11, 81, 161);
    border-radius: 5px;
    text-align: center;
}
.o{
    font-size: 14px;
    color: rgb(18, 113, 225);
}
.p{
    font-size: 12px;
    color: rgb(14, 14, 203);
}
.buttn{
    background-color: rgb(11, 81, 161);
    border-radius: 8px;
    
}
.b{
    background-color: rgb(11, 81, 161);
    border-radius: 8px;
    color: rgb(30, 118, 218);


}
.t{
    text-align: center;
    font-size: 10px;
    color: rgb(18, 32, 225);
    margin-top: -10px;
}


.main{
    display: flex;
    margin-top: -500px;

    margin-left: 500px;
    flex-wrap: wrap;
    gap: 20px;

}
.photo{
    background-image: url(photo.jpg);
    width: 500px;
    height: 500px;
    background-size: cover;
    border-radius: 50%;
}


