



#bar{
    width: 0%;
    height: 100%;
    background-color: brown;
    display: flex;
    justify-content: center;
    font-size: 3em;

    animation-name: loading;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;

}

@keyframes loading{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

#loader{
    border-radius: 500px;
    height: 500px;
    width: 500px;
    background-color: aqua;
    border-top: 30px solid red;
    border-bottom: 30px solid red;
}
@keyframes loading{
    0%{
        width: 0%;
    }
    100%{
        width: 100;
    }
}
