div{
    display: inline-block;
    vertical-align: top;
    
    width: 300px;
    height: 300px;
    
}

.first{
        background-image: url(poto.avif);
    background-color: aqua;
    background-size: cover;
    text-align: center;
}

.second{
    background-image: url(new.jpg);
    background-color: aqua;
    text-align: center;
    background-size: cover;

}

.third{
    background-image: url(india.jpg);
    text-align: center;
}
.fourth{
    background-image: url(australia.jpg);
    background-color: rgb(211, 224, 30);
    background-size: cover;
    text-align: center;
}