#they{
    color: aquamarine;
    background-color: rgb(29, 157, 157);
}
#we{
    text-align: center;
    background-color: rgb(82, 15, 15);
}

#i{
    text-align: end;
    background-color: blue;
    color: rgb(125, 21, 83);
}
#you{background-color: black;
color: aqua;
}
p{
    background-color: blue;
    color: brown;
    text-align: justify;
}
#GOA{
    text-decoration: dashed;color: aqua;
    text-align: center;
    background-color: rgb(rgb(56, 19, 19), rgb(19, 83, 19), rgb(38, 38, 153))
    color(rec2020 red green blue)

}