.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: brown;
}

.child{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: aqua;
}