.textt{
    display: flex;
    justify-content: center;
}

.d{
    background-color: rgb(150, 192, 254);
    border: 3px solid rgb(6, 56, 221);
    border-radius: 20px;
    width: 300px;
    height: 400px;
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.dd{
    background-size: cover;
    
    border-radius: 20px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 35px;
}
.input{
    display: flex;
    margin-left: 20px;
    margin-top: 0px;
    width: 150px;
    border-radius: 7px;
    background-color: rgb(207, 230, 255);
    
}

.text{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
}

.button{
    border-radius: 10px;
    width: 150px;
    margin-left: 25px;
    margin-top: 30px;
}
    
