.body{
    background-image: url(bb.jpg);
    background-size: cover;
}

.topp{
    background-image: url(buu.jpg);
    background-size: cover;
    height: 40px;
    width: auto;
    border-radius: 15px;


}

.textt{
    display: flex;
    justify-content: center;
}


.d{
    background-color:rgb(21, 21, 99);
    border: 5px solid rgb(4, 28, 106);
    border-radius: 20px;
    width: 300px;
    height: 400px;
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.dd{
    background-image: url(buu.jpg);
    background-size: cover;
    border: 5px solid rgb(15, 0, 122);
    border-radius: 20px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 35px;
}
.input{
    display: flex;
    margin-left: 20px;
    margin-top: 0px;
    width: 150px;
    border-radius: 7px;
    background-color: rgb(0, 107, 183);
    
}

.text{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
}

.button{
    background-color: rgb(29, 99, 190);
    border-radius: 10px;
    width: 80px;
    margin-left: 20px;
    margin-top: 30px;
}
    

.b{
    background-color: rgb(29, 99, 190);
    border-radius: 10px;
    margin-left: 100px;
    margin-top: -21px;
    width: 100px;

}
.site{
    font-size: 10px;
    margin-left: 125px;
    margin-top: 30px;
    color: rgb(255, 8, 8);
}