/* .y{ 
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 40%;
    background-color: aqua;
    animation: rotate-circle 2s 
    linear infinite;
}

@keyframes rotate-circle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
} */
.body{
    background-color: aqua;
    display: flex;

    height: 100vh;
    margin: 0;
}

.orbit:hover{
    animation-play-state: paused;

}
.orbit{
    width: 300px;
    height: 300px;
    border: 2px solid red;
    border-radius:  50%;
    position: relative;
    animation: rotate-orbit 1s 
    linear infinite;
}
.ball{
width: 80px;
height: 80px;
background-color: yellow;
border-radius: 50%;
position: absolute;
top: -35px;
left: 50%;
transform: translateX(-50%);

}
@keyframes rotate-orbit{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg)
    }
}