.m{
    display: flex;
    margin-top: 100px;
    
    justify-self: center;
    height: 400px;
    width: 230px;
    border: 5px solid red;
    background-color: aqua;
}

.y{
    display: flex;
    height: 15px;
    text-align: center;
    margin-top:50px;
    margin-left: 30px;
    background-color: aquamarine;
}
