.m{
    background-color: aqua;
    height: 700px;
    margin-top: 100px;
    border-radius: 20px;
    border: 5px solid red;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.yes{
    background-color: #0000ff;
    
}
.one{
    height: 60%;
    background-image: url(B58.jpg);
    background-size: 80%;
    background-position: center;
    background-size: 300px;
    width: 300px;
    height: 200px;
    border: 5px solid red;
    color: aqua;
    text-align: center;
}
.oone{

}
.two{
    background-image: url();
    border: 5px solid red;
    height: 200px;
    width: 300px;
}
.ttwo{

}
.three{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.tthree{

}
.four{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.ffour{
    background-image: url(B58.jpg);
    background-size: cover;
}
.five{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.ffive{

}
.six{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.ssix{

}
.seven{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.sseven{

}
.eight{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.eeight{

}
.nine{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.nnine{

}