.m{
    background-color: aqua;
    height: 500px;
    margin-top: 100px;
    border-radius: 20px;
    border: 5px solid red;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.yes{
    background-color: #0000ff;
    
}
.one{
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.two{
    background-image: url();
    border: 5px solid red;
    height: 200px;
    width: 300px;
}
.three{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.four{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.five{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.six{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.seven{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.eight{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}
.nine{
    background-image: url();
    width: 300px;
    height: 200px;
    border: 5px solid red;
}